* {
  margin: 0;
  padding: 0;
  overflow: hidden; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  background-color: #333333; }

@media screen and (orientation: portrait) {
  #container {
    width: 80%;
    height: 50%;
    margin: 20% auto auto 10%; }

    #control ul {
      letter-spacing: 0.2em;
      text-align: center; } }
@media screen and (orientation: landscape) {
  #container {
    width: 68%;
    height: 69%;
    margin: 7% auto auto 23%; }

  #control ul {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3%;
    margin-left: 2%;
    letter-spacing: 0.1em; } }
#control ul {
  list-style: none;
  font-family: 'Six Caps', sans-serif;
  color: #EEEEEE;
  text-transform: uppercase;
  font-size: xx-large;
  text-shadow: #FF0000 -1px 2px;
  text-align: center; }

#control li {
    padding: 10px; }
#start:active {
  color: #BBBBBB; }
#control li:first-child {
  border-bottom: dashed 1px #444444; 
  padding: 25px; }

#top-left-square:active, .glare-top-left-square {
  -webkit-box-shadow: 0 0 1em 0.5em #990000;
  -moz-box-shadow: 0 0 1em 0.5em #990000;
  box-shadow: 0 0 .1em .3em red; }

#top-right-square:active, .glare-top-right-square {
  -webkit-box-shadow: 0 0 1em 0.5em yellow;
  -moz-box-shadow: 0 0 1em 0.5em yellow;
  box-shadow: 0 0 .1em .3em yellow; }

#bottom-right-square:active, .glare-bottom-right-square {
  -webkit-box-shadow: 0 0 1em 0.5em blue;
  -moz-box-shadow: 0 0 1em 0.5em blue;
  box-shadow: 0 0 .1em .3em blue; }

#bottom-left-square:active, .glare-bottom-left-square {
  -webkit-box-shadow: 0 0 1em 0.5em #0fff00;
  -moz-box-shadow: 0 0 1em 0.5em #0fff00;
  box-shadow: 0 0 .1em .3em #0fff00; }

#top-left-square, #top-right-square, #bottom-right-square, #bottom-left-square {
  display: inline-block;
  margin: 0.5%;
  border-radius: 10px;
  width: 47%;
  height: 47%; }

#top-left-square {
  background-color: #F02311; }

#top-right-square {
  background-color: #FFFF00; }

#bottom-left-square {
  background-color: #00FF00; }

#bottom-right-square {
  background-color: #0000FF; }

#volume {
  font-size: x-large;
  /*    position: absolute;
      bottom: 0;
      left: 0;
  */
  margin-bottom: 0.1em;
  margin-left: 0.5em; }

h1 {
  color: white;
  text-transform: uppercase; }
  
#container {
    padding: 3%;
}
