
body {
	background-color: #050505;
	margin: 0;
}

@media screen and (orientation:portrait) {
	
	#container {
		width: 80%;
		height: 26%;
		margin-left: 10%;
		margin-top: 30%;
	}

	#top-left-square:active, 
	.glare-top-left-square {
/*		width: 50%; height: 100%;*/
	  -webkit-box-shadow:  0 0 1em 0.5em #990000;
	  -moz-box-shadow:  0 0 1em 0.5em #990000;
	  box-shadow:  0 0 1em 1em #990000;
	}

	#top-right-square:active, 
	.glare-top-right-square {
	  /*width: 50%; height: 100%;*/
	  -webkit-box-shadow:  0 0 1em 0.5em #0FFF00;
	  -moz-box-shadow:  0 0 1em 0.5em #0FFF00;
	  box-shadow:  0 0 1em 1em #0FFF00;
	}

	#bottom-left-square:active, 
	.glare-bottom-left-square {
	  /*width: 50%; height: 100%;*/
	  -webkit-box-shadow:  0 0 1em 0.5em #FFFF00;
	  -moz-box-shadow:  0 0 1em 0.5em #FFFF00;
	  box-shadow:  0 0 1em 1em #FFFF00;
	}

	#bottom-right-square:active, 
	.glare-bottom-right-square {
	  /*width: 50%; height: 100%;*/
	  -webkit-box-shadow:  0 0 1em 0.5em #0000FF;
	  -moz-box-shadow:  0 0 1em 0.5em #0000FF;
	  box-shadow:  0 0 1em 1em #0000FF;
	}
}

@media screen and (orientation:landscape) {

	#container {
		width: 80%;
		height: 100%;
		margin-left: 10%;
		margin-top: 6%;
	}

	#top-left-square:active, 
	.glare-top-left-square {
		/*width: 50%; height: 100%;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	  border: 0.8em solid #FFFFFF;
	}

	#top-right-square:active, 
	.glare-top-right-square {
/*		width: 50%; height: 100%;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	  border: 0.8em solid #FFFFFF;
	}

	#bottom-left-square:active, 
	.glare-bottom-left-square {
/*		width: 50%; height: 100%;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 0.8em solid #FFFFFF;
	}

	#bottom-right-square:active, 
	.glare-bottom-right-square {
/*		width: 50%; height: 100%;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	  border: 0.8em solid  #FFFFFF;
	}
}

.square {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10%;
	border-radius: 10px;
	width: 49%;
	height: 98%;
}

#top-left-square {
  background-color: #F02311;
  float: left;
}

#top-right-square {
	background-color: #00FF00;
	float: right;
}

#bottom-left-square {
	background-color: #FFFF00;
	float: left;
}

#bottom-right-square {
	background-color: #0000FF;
	float: right;
}

#bottom-right-square,
#bottom-left-square {
  margin-top: 2%;
}

